
.LandCard{
    background: #FFFFFF;
    display: block;
    box-shadow: -6px 7px 21px 0 rgba(30,30,30,0.05);
    @include column(1/4, $cycle: 4);
    border-radius: 5px;
    overflow: hidden;
    float: left;
    transition: 350ms all cubic-bezier(0.190,  1.000, 0.220, 1.000);
    background-position: center center;
    background-size: 100%;
    &:hover{
      box-shadow: 0px 0px 20px rgba(30,30,30,0.05);
      transform: scale(0.97);
    }
    .LandCard__body{
      float: left;
      padding: 20px;
    }
    .TimeCounter{
      margin-top: 10px;
    }
    margin-bottom: 40px;
    .ola0{
      fill:none;stroke:#56c0e6
    }

    position: relative;
}

.LandCard__header{
  height: 120px;
  width: 100%;
  background-position: center center;
  background-size: 120%;
}
.LandCard__cont{
  
  display: flow-root;
}

.o-land-list{
  .o-container{
    flex-flow: row wrap;
  }
}


// .LandCard{
//     background: #FFFFFF;
//     display: block;
//     box-shadow: -8px 8px 10px 0 rgba(30,30,30,0.03);
//     transition: all 250ms ease-in-out;
//     min-width: 200px;
//     @include column(1/5, $cycle: 5);

//     .TimeCounter{
//       text-align: right;
//       float: right;
      
//     }

//     &:hover{
//       box-shadow: 0px 0px 0px 0 rgba(30,30,30,0.00);
//       transform: scale(0.98);
//     }
// }


@media screen and (max-width: 1000px){
  .LandCard{
      @include column(1/2, $cycle: 2);
  }
}

@media screen and (max-width: 780px){
  .LandCard{
      @include column(1/1, $cycle: 1);
  }
}
