.o-fifth{
    display: inline-block;
}
.Land  .o-container{
    overflow: hidden;
    h2, h3{
        margin-bottom: 5px;
        margin-top: 30px;
    }
    
    time{
        font-size: 16px;
    }
    .ValueCounter{
        margin-top: 10px;
    }
    .TimeCounter{
        margin-top: 5px;
    }
}
.o-detail-container{
    max-width: 220px;
    margin: 0 auto;
}
