.ValueCounter{
    line-height: 22px;
    display: block;
    height: 19px;
    .Icon{
        margin-right: 4px;
        float: left;
    }
    .ValueCounter__value{
        color:$ovr-orange;
    }
}


.ValueCounter__value, .ValueCounter__icon{
    float: left;
}