.ActivityTile{
  font-size: 14px;
  position: relative;
  padding: 18px 25px;
  padding-left: 0px;
  padding-right: 50px;
  line-height: 20px;
  text-align: left;
  display: flex;
  cursor: pointer;
  .MuiButtonBase-root{
    opacity: 0;
  }
  .TimeCounter{
    color: $ovr-grey;
  }
  &:last-child{
    border-bottom: 0px;
  }
  &:hover{
    background-color: rgba($ovr-light-grey, 0.4);
    .MuiButtonBase-root{
      opacity: 1;
    }
  }
  &.--new{
    &:after{
      background-color: #7521C8;
      width:6px;
      height:6px;
      border-radius: 10px;
      content: " ";
      display: block;
      position: absolute;
      top: 26px;
    }
  }
  button{
    position: absolute;
    right: 14px;
    top: 14px;
  }
}
.ActivityTile__head{
  display: inline-block;
  .ActivityTile__icon{
    width: 50px;
    height: 50px;
    background-color: #eee6f2;
		border-radius: 25px;
		img{
			max-width: 100%;
			max-height: 100%;
		}
  }
}
.ActivityTile__body{
  padding-left: 18px;
  display: inline-block;
}
.ActivityTile__content{
  clear: both;
  font-size: 16px;
  margin-top: 5px;
  span{
    font-weight: 400;
  }
}
.ActivityTile__time{
  clear: both;
  color: $ovr-grey;
  font-size: 12pxs;
}