
.SellOrderTile{
  padding: 15px 50px;
  background: linear-gradient(138deg, #1d0333, #805e9d);
  
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;

  .section{
    margin-left: 10%;
    float: left;
    &:first-child{
      margin-left: 0px;
    }
  }
  .ValueCounter{
    position: relative;
    // font-weight: 400;
    .ValueCounter__icon, .ValueCounter__value{
      z-index: 1;
      position: relative;
      color: #fff;
      
    }
    
    // &::before{
    //   position: absolute;
    //   background-color: #fff;
    //   content: "";
    //   top: -3px;
    //   left: -5px;
    //   width: calc( 100% + 10px );
    //   height: calc( 100% + 6px );
    //   z-index: 0;
    //   border-radius: 3px;
    // }
  }
  .TimeCounter, b{
    color: #fff;
  }
}

.SellOrderModal{
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 20px 50px;
  background: linear-gradient(138deg, #1d0333, #805e9d);
  color: #fff;
  &:focus{
    outline: none;
  }
}


.orderTileButton{
  padding: 5px 15px;
  font-size: 10px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  background: #1d0333;
  border: none;
  &:focus{
    outline: none;
  }
}

.Modal__buttons_container{
  margin-top: 30px;
  .HexButton{
      margin-right: 25px;
  }
}