.Discover{
    .Map{
        margin-top: 20px;
    }
}
.--hidden{
    display: none;
}

.o-pagination{
  width: 100%;
  clear: both;
  .MuiPagination-ul{
    justify-content: center;
  }
}
.MuiPaginationItem-root{
  font-weight: 200;
}