.profile {
	width: 95%;
	margin: 0 auto;

	.p-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $ovr-aqua-marine;

		.p-header-title {
			font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		}
	}

	.p-container {
		width: 75%;
		margin: 0 auto;
	}
}
