.BuyOfferOverlay{
  background: linear-gradient(138deg, #0081DD, #022136);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 88%}
      50%{background-position:100% 13%}
      100%{background-position:0% 88%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 88%}
      50%{background-position:100% 13%}
      100%{background-position:0% 88%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 88%}
      50%{background-position:100% 13%}
      100%{background-position:0% 88%}
  }
  .Overlay__hex_cont{
    position: relative;
  }
  .Overlay__cont{
    display: inherit;
  }
  .MuiFormControl-root{
    float: left;
    display: inline;
  }
  .Overlay__input{
    display: inline-flex;
  }
  .MuiFormControl-marginNormal{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
}

