.BuyOfferOverlay{
  background: #fff;
  .Overlay__hex_cont{
    position: relative;
  }
  .Overlay__cont{
    display: inherit;
  }
  .MuiFormControl-root{
    float: left;
    display: inline;
  }
  .Overlay__input{
    display: inline-flex;
  }
  .MuiFormControl-marginNormal{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
}

