.Overlay{
    position: fixed;
    width: 100%;
    height: calc(100% - 70px);
    top: 70px;
    z-index: 9;
    display: flex;
    align-items: center;
    transition: all 350ms ease-in-out;
    // opacity: 0;
    // pointer-events: none;
    // &.--active{
    //     opacity: 1;
    //     pointer-events: all;
    // }
    .ValueCounter{
      margin-top: 10px;
		}
		.Overlay__cont{
    width: 600px;
    margin: 0 auto;
    color: #fff;
    height: 300px;
    display: flex;
	}
}


.OverlayContainer{
	.RightOverlay__backpanel{
		opacity: 0;
		transition: all 350ms ease-in-out;
		transition-delay: 250ms;
	}
	.RightOverlay{
	 transform: translateX(400px);
	 transition: all 250ms ease-in-out;
	}
	&.--js-show{
		.RightOverlay__backpanel{
			opacity: 1;
		}
		.RightOverlay{
		transform: translateX(0px);
		}
	}
}

.RightOverlay{
	position: fixed;
	width: auto;
	min-width: 380px;
	max-width: 380px;
	height: calc(100% - 70px);
	top: 70px;
	z-index: 9;
	display: flex;
	align-items: center;
	float: right;
	right: 0px;
	// transform: translateX(380px);
	.Overlay__cont{
		width: auto;
		color: #000;
		height: 300px;
		display: flex;
		margin: 0px 50px;
		position: relative;
	}
	.Overlay__close_button{
		top: -80px;
	}
}
.RightOverlay__backpanel {
			width: 100vw;
			height: 100vh;
			position: fixed;
			left: 0px;
			top: 0px;
			background-color: rgba(0,0,0,0.2);
			z-index: 8;
}
.Overlay__etherscan_link{
	a{
		font-size: 12px;
		color: rgba(40, 45, 50, 0.5);
		font-weight: 400;
		&:hover{
			color: rgba(40, 45, 50, 1);
		}
	}
}
.BidOverlay{
	background-color:#fff;
}
.Overlay__title{
    font-size: 24px;
    font-weight: 300;
}

.Overlay__congrat_title{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $ovr-light-grey;
	line-height: 25px;
	span{
		font-size: 25px;
		font-weight: bold;
		background:linear-gradient(to right, $ovr-orange,$ovr-yellow);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.Overlay__land_title{
    margin-top: 15px;
    font-size: 22px;
    font-weight: 800;
    display: block;
    max-width: 100%;
    overflow: hidden;
}
.Overlay__land_hex{
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px;
}
.Overlay__body_cont{
  float: left;
}
.Overlay__current_bid, .Overlay__minimum_bid{
    margin-top:20px;
    float: left;

}
.Overlay__bid_title{
    font-size: 14px;
}
.Overlay__bid_cont{
    background: #fff;
    border-radius: 3px;
    width: max-content;
    padding-right: 5px;

    .ValueCounter{
				padding: 8px 15px;
				background: #ffffff;
				border-radius: 5px;
				box-shadow:  8px 8px 16px rgba(#d9d9d9, 0.3), 
																-8px -8px 16px #ffffff;
    }
}
.Overlay__your_bid{
	width: 100%;
	clear: both;
	margin-top: 20px;
}
.Overlay__close_button{
    position: absolute;
    transition: 350ms ease-in-out all;
    z-index: 9;
    cursor: pointer;
    &:hover{
        transform: scale(0.9);
    }
}
.Overlay__arrow{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top:  58px;
}
.Overlay__lower, .Overlay__buttons_container{
    display: inline-block;
		position: relative;
		width: 100%;
}

.Overlay__buttons_container{
		width: 100%;
    .HexButton{
        margin-right: 25px;
    }
}

.Overlay__message__container{
    margin-top: 40px;
    animation: 1s blink infinite 1550ms;
}

.Overlay__input{
    margin-top: 20px;
}

.Overlay__close-button_container{
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid $ovr-light-grey;
}

.Overlay__bid_container {
	display: inline-block;
}





.WhiteInputs {
	.MuiFormLabel-root {
		color: #d9d9d9 !important;
		font-weight: 200 !important;
	}
	.MuiInput-underline:before {
		border-bottom: 1px solid #d9d9d9 !important;
	}
	.MuiInputBase-input {
		color: #fff !important;
	}
	.MuiInput-underline:after {
		border-bottom: 2px solid #fff !important;
	}
}

.NormalInputs {
	.MuiFormLabel-root {
		color: #000 !important;
		font-weight: 200 !important;
	}
	.MuiInput-underline:before {
		border-bottom: 1px solid #d9d9d9 !important;
	}
	.MuiInputBase-input {
		color: #000 !important;
	}
	.MuiInput-underline:after {
		border-bottom: 2px solid #ccc !important;
	}
}

.MuiFormLabel-root {
	color: $ovr-sideral-grey !important;
	font-weight: 200 !important;
}
.MuiInput-underline:before {
	border-bottom: 1px solid $ovr-sideral-grey !important;
}
.MuiInputBase-input {
	color: $ovr-sideral-grey !important;
}
.MuiInput-underline:after {
	border-bottom: 2px solid #000 !important;
}
