
.Lands{
    .o-land-list{
        margin-top: 20px;
        overflow: visible;
    }
    .o-land-list__cont{
        display: flow-root;
    }
}
.--minimal .LandCard__body__footer{
    margin-top: 10px;
}

.Lands .Land__heading__2 .HexButton {
    margin-top: 50px;
    float: right;
}

.o-land-list__total{
	.ValueCounter{
		float: left;
	}
	span{
		float: left;
		margin-right: 20px;
		font-size: 20px;
	}
	.o-row{
		width: 100%;
		display: inline-block;
		line-height: 22px;
	}
}