.Lands {
  margin-top: 25px;
  .o-land-list {
    margin-top: 20px;
    overflow: visible;
  }
  .o-land-list__cont {
    display: flow-root;
  }
}
.--minimal .LandCard__body__footer {
  margin-top: 10px;
}

.Lands .Land__heading__2 .HexButton {
  margin-top: 50px;
  float: right;
}

.lands__button_holder {
  margin-top: 20px;
}

.ls-land__total {
  .ValueCounter,
  .o-para-value {
    float: right;
    margin-left: 15px;
  }
  .o-para-value {
    font-size: 16px;
  }
  span {
    float: left;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .o-row {
    width: 100%;
    clear: both;
  }
  .HexButton {
    float: right;
    margin-top: 10px;
  }

  table {
    width: 100%;
    font-size: 17px;
    text-align: left;
    tr {
      line-height: 35px;
      td {
        text-align: left;
        .ValueCounter {
          float: inherit;
          margin-left: 0;
          font-size: 17px;
        }
      }
    }
    tfoot {
      tr {
        td:first-child {
          font-weight: 500;
        }
      }
    }

    .savedGasExpense {
      color: $ovr-green;
      td:first-child {
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 790px) {
  .ls-land__total {
    @include column(2/6);
  }
  .ls-land__display {
    @include column(4/6);
  }
}

@media screen and (max-width: 790px) {
  .ls-land__total {
    @include column(6/6);
  }
  .ls-land__display {
    @include column(6/6);
  }
  .ls-container {
    margin-top: 20px;
  }
  .Lands {
    .o-fourth {
      @include column(6/6);
    }
  }
  .Lands .Land__heading__2 {
    display: none;
  }
}
