$ovr-purple : #1D0333;
$ovr-sideral-grey: #282D32; 
$ovr-light-grey: #f3f3f5;

.c-line{
  display: block;
  width: 100%;
  clear: both;
}
body{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
  background-color: $ovr-light-grey;
}

@import "./src/components/CtaCard/style.scss";
@import "./src/components/TextCounter/style.scss";
@import "./src/components/ArrowLink/style.scss";
@import "./src/components/HexButton/style.scss";
