@import 'node_modules/jeet/jeet';

$ovr-purple : #1D0333;
$ovr-sideral-grey: #282D32; 
$ovr-grey: #857f7c;
$ovr-light-grey: #f3f3f5;
$ovr-aqua-marine: #c9d2d3;
$ovr-orange: #EC663C;
$ovr-green: #49B6AE;
$ovr-red: #C32438;

.o-line, .o-line--in{
  display: block;
  width: 100%;
  clear: both;
}
.o-line--in{
  display: inline-block;
}


body{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
  background-color: $ovr-light-grey;
}

.o-half{
  @include column(1/2);
}
.c-one-third{
  @include column(1/3);
}
.c-two-third{
  @include column(2/3);
}
.o-fourth{
  @include column(1/4);
}
.o-fifth{
  @include column(1/5);
}
.Land__heading__1{
    @include column(2/5);
}
.Land__heading__2{
    @include column(3/5);
}
.o-container{
   margin: 0 auto;
   max-width: calc(100% - 140px);
}

.App{
  padding-top:70px;
}

.o-section-title{
  margin-top: 30px;
  color: $ovr-sideral-grey;
}

@import "./src/components/CtaCard/style.scss";
@import "./src/components/TextCounter/style.scss";
@import "./src/components/ArrowLink/style.scss";
@import "./src/components/HexButton/style.scss";
@import "./src/components/LandName/style.scss";
@import "./src/components/AuctionCard/style.scss";
@import "./src/components/ValueCounter/style.scss";
@import "./src/components/TimeCounter/style.scss";
@import "./src/components/LandCard/style.scss";
@import "./src/components/NavBar/style.scss";
@import "./src/components/Footer/style.scss";
@import "./src/components/Map/style.scss";
@import "./src/components/BidOverlay/style.scss";

@import "./src/views/Land/style.scss";
@import "./src/views/Login/style.scss";
