.bids {
	display: flex;
	.my-bid {
		margin-left: 20px;
	}
}
.Overlay__lower__cont{
	display: inline-block;
	margin-bottom: 15px;
}

.MintOverlay{
  background: #fff;
  background-size: 400% 400%;
  box-shadow: -20px 10px 20px 0 rgba(30, 30, 30, 0.05);
 
}